{% extends 'photos/base.html' %}

<!-- 
css uchun kerak buladi -->

{% load crispy_forms_tags %}


{% block content %}

    <div class="content-section">
        <form action="" method="POST">{% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Kirish</legend>
                
                <!-- {{ form.as_p }} -->

                <!-- formalar bilan ishlash uchun kerak buladi bootstrap bilan -->
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Kirish</button>
                <small class="text-muted ml-2">
                    
                </small>
            </div>

        </form>
        <div class="border-top pt-3">
            <small class="text-muted"> Ro'yhatdan o'tish? <a class="ml-2" href="{% url 'rigester' %}">Sign In</a></small>
        </div>
    </div>

{% endblock content %}