{% extends 'photos/base.html' %}
{% block content %}
<div class="container">
        <div class="row  row justify-content-center">
            <div class="col-md-4">
                

                <div class="card">

                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                      
                        <div class="form-group">
                          <label>Rasm yuklash</label>
                          <input  type="file" class="form-control-file" name="image" required>
                        </div>

                        <div class="form-group">
                          <label>Tavsif</label><br>
                          <!-- <input name="description" type="text" class="form-control-file" placeholder="Tavsif kiriting" required> -->
                          <textarea name="description" type="text" cols="35" rows="4" placeholder="Tavsif kiriting" required></textarea>
                        </div>


                        <button class="btn btn-primary m-3" type="submit">Yuborish</button>
                        <a href="{% url 'gallery' %}" class="btn btn-dark my-3">Back</a>
                      </form>
                </div>
            
            </div>
        </div>

</div>   

{% endblock content %}