{% extends 'photos/base.html' %}
{% block content %}
<a href="{% url 'gallery' %}" class="btn btn-dark my-3">Back</a>
<center>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
               
                <div style="height: 90vh;">
                    <img style="max-width: 100%; max-height:100%;" src="{{ photos.image.url }}" alt="Rasm">
                    <p>{{ photos.description }}</p>
                </div>
            </div>
        </div>
    </div>
</center>
   
{% endblock content %}  